In [3]:
# Having jupiter comunicating with django
import setup_django
setup_django.init()

In [4]:
from playlists.models import Playlist

qs = Playlist.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<PlaylistQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('4.00'), 'rating_count': 1}, {'title': 'game of thrones', 'release_date': None, 'rating_avg': None, 'rating_count': None}, {'title': 'season 1', 'release_date': None, 'rating_avg': None, 'rating_count': None}, {'title': 'season 2', 'release_date': None, 'rating_avg': None, 'rating_count': None}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('3.25'), 'rating_count': 4}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('2.75'), 'rating_count': 4}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('5.00'), 'rating_count': 2}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': None, 'rating_count': None}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': None, 'rating_count': None}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': None, 'rating_count': None}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': None, 'rating_count': None}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': None, 'rating_count': None}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': None, 'rating_count': None}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': None, 'rating_count': None}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': None, 'rating_count': None}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': None, 'rating_count': None}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('1.00'), 'rating_count': 1}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': None, 'rating_count': None}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': None, 'rating_count': None}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': None, 'rating_count': None}, '...(remaining elements truncated)...']>

In [5]:
import pandas as pd
df= pd.DataFrame(qs)
df.head(n=10)

             title release_date rating_avg  rating_count
0            Ariel   1988-10-21       4.00           1.0
1  game of thrones         None       None           NaN
2         season 1         None       None           NaN
3         season 2         None       None           NaN
4   Judgment Night   1993-10-15       3.25           4.0
5        Star Wars   1977-05-25       2.75           4.0
6     Finding Nemo   2003-05-30       5.00           2.0
7     Forrest Gump   1994-07-06       None           NaN
8  American Beauty   1999-09-15       None           NaN
9     Citizen Kane   1941-04-30       None           NaN

In [6]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('4.00'),
 'rating_count': 1}

In [ ]:
# df.to_csv()